@import url("https://fonts.googleapis.com/css2?family=Zilla+Slab:wght@400&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  max-width: 100%;
  list-style-type: none;
  scroll-behavior: smooth;
  font-family: "Zilla Slab", serif;
}
a {
  text-decoration: none;
  color: wheat;
}
p {
  font-size: medium;
  font-weight: 400;
  margin-top: 0;
}
body {
  width: 98.75vw;
  max-width: 100vw;
}
img {
  max-width: 100%;
}
.page1 {
  padding: 50px 0 0 0;
  text-align: center;
  color: white;
  width: 100vw;
  height: 100vh;
  background: linear-gradient(#7719ec, #4e1ea7);
}
.page1 p:first-of-type {
  font-weight: 600;
  font-size: 22px;
}
.page1 p:nth-of-type(2) {
  font-weight: 600;
  font-size: 90px;
  margin-top: 5px;
}
.page1 p:nth-of-type(2) span {
  font-weight: 300;
}
.page1 p:nth-of-type(3),
.page1 p:nth-of-type(4) {
  font-size: 20px;
}

.sections1 {
  margin: auto;
  margin-top: 20px;
  width: 100vw;
  display: flex;
  justify-content: space-evenly;
}
.sec1,
.sec3 {
  display: flex;
  width: 20vw;
  height: 50vh;
  flex-direction: column;
  justify-content: flex-end;
}
.sec1 {
  justify-content: center;
  align-items: center;
}

.sec2 {
  width: 60vw;
}
#img-programmer {
  width: 450px;
}
.wil-hat {
  border-radius: 50%;
  width: 70px;
  height: 70px;
  border: 3px solid white;
  background: url(../images/wil-hat.png);
  background-size: contain;
  /* box-shadow: 0 0 50px #fff, -10px 0 80px #f0f, 10px 0 80px #0ff; */
  animation: glow 1s infinite alternate;
}
@keyframes glow {
  from {
    box-shadow: 0 0 10px -10px #aef4af;
  }
  to {
    box-shadow: 0 0 10px 10px #aef4af;
  }
}
.wil-hat:hover {
  opacity: 0.7;
  transition: 0.2s ease-in-out;
}
audio {
  border-radius: 10px;
  width: 250px;
  height: 40px;
  margin-top: 5px;
  margin-bottom: 5px;
}

.navbar {
  position: -webkit-sticky; /* Safari */
  position: sticky;
  top: 20px;
  background: linear-gradient(#7719ec, #4e1ea7);
  height: 10vh;
  width: 100vw;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 20px;
}
.red-hat {
  border-radius: 50%;
  width: 55px;
  height: 55px;
  border: 3px solid white;
  background: url(../images/red-hat.jpg);
  background-size: contain;
  animation: glowred 1s infinite alternate;
}
@keyframes glowred {
  from {
    box-shadow: 0 0 3px -3px #aef4af;
  }
  to {
    box-shadow: 0 0 3px 3px #aef4af;
  }
}
.navmenu {
  display: flex;
}
.navlist {
  display: flex;
  gap: 20px;
}
.nav2 {
  display: flex;
  gap: 20px;
}
.dark-mode {
  background-color: white;
  width: 40px;
  height: 40px;
  padding: 2px;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 50%;
}

.resume {
  padding: 10px 20px;
  background: #ffd737;
  border-radius: 50px;
}
.resume a {
  color: #000000;
}
.page2 {
  width: 90vw;
  margin: auto;
  text-align: center;
}
.page2 #aboutme-title {
  margin-top: 25px;
  font-size: 40px;
  font-weight: bolder;
}
.page2 p:nth-of-type(2) {
  font-size: 18px;
  margin-top: 30px;
  width: 50vw;
  margin: auto;
}
.about-hexagons {
  margin: auto;
  margin-top: 20px;
  display: flex;
  width: 75vw;
  justify-content: space-between;
}
#hex-box {
  width: 250px;
  display: flex;
  justify-content: flex-start;
  flex-direction: column;
  align-items: center;
}
#hex-box span {
  font-weight: 600;
}
#hex-box p:nth-of-type(1) {
  font-size: medium;
  font-weight: 400;
  margin-top: 0;
}

.skills-page {
  display: flex;
  justify-content: space-between;
  width: 85vw;
  margin: auto;
  height: auto;
  margin-top: 25px;
}

.col1 {
  width: 49%;
  display: flex;
  justify-content: flex-start;
  align-items: center;
  flex-direction: column;
  height: fit-content;
}

.skills-page .col1 P:first-of-type {
  font-weight: 600;
  margin-top: 10px;
}

.skills-page .col1 P:last-of-type {
  font-weight: 600;
  margin-top: 10px;
}

.col2 {
  width: 49%;
  display: flex;
  justify-content: flex-start;
  align-items: flex-start;
  flex-direction: column;
  height: fit-content;
}
.skills-page .col2 P:first-of-type {
  font-size: 40px;
  font-weight: bolder;
  margin-bottom: 10px;
}
progress {
  width: 100%;
  height: 10px;
  border-radius: 0;
  margin-top: 5px;
}
progress[value]::-webkit-progress-value {
  background: #7719ec;
}
#lang-percent {
  margin-top: 10px;
  width: 100%;
  display: flex;
  justify-content: space-between;
}
#lang-percent b {
  font-weight: 500;
}
.page3-moreabout {
  background: linear-gradient(#7719ec, #4e1ea7);
  width: 85vw;
  margin: auto;
  margin-top: 20px;
  border-radius: 5px;
  height: fit-content;
}
.moreaboutme {
  background: white;
  margin: auto;
  padding: 10px 35px;
  border-radius: 0 0 10px 10px;
  width: fit-content;
  font-size: 25px;
  font-weight: 600;
}

#moreabt-p1 {
  text-align: center;
  color: white;
  font-weight: 600;
  margin-top: 15px;
  letter-spacing: 1px;
}
.moreabt-audio-box {
  width: 100vw;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 20px;
}
#moreabt-audio {
  width: 81vw;
}
.moreabt-boxes {
  display: flex;
  width: 100%;
  justify-content: space-evenly;
  margin-top: 20px;
  height: fit-content;
  line-height: 22px;
  font-size: 16px;
}

.moreabt-boxes .box1 {
  border-radius: 30px 15px;
  width: 30%;
  height: 20px;
  background: rgba(58, 58, 58, 0.25);
  height: fit-content;
  color: white;
  text-align: center;
  padding: 20px 30px;
}
.moreabt-boxes .box2 {
  border-radius: 30px 15px;
  width: 30%;
  height: 20px;
  background: rgba(58, 58, 58, 0.781);
  height: fit-content;
  color: white;
  text-align: center;
  padding: 20px 30px;
}

.page3-last-flex {
  display: flex;
  width: 81vw;
  justify-content: space-between;
  margin-top: 20px;
  height: fit-content;
  margin: auto;
  margin-top: 20px;
}

.hire-me {
  padding: 10px 20px;
  background: #ffd737;
  border-radius: 5px;
  height: fit-content;
}
.hire-me a {
  font-weight: 600;
  color: #000000;
}
